/subprojects/*
!/subprojects/packagefiles
!/subprojects/*.wrap

*.xcodeproj/*
.ccache
mingw_prefix
/Vulkan-Headers
/Vulkan-Loader
/zlib*
/SPIRV-Cross
/nv-codec-headers
/libplacebo
/libiconv*
/freetype*
/fribidi*
/harfbuzz*
/ffmpeg
/artifact